# Ignorar dependências do Node
/node_modules

# Ignorar logs do npm
npm-debug.log*
.npm/

# Ignorar o diretório de vídeos e screenshots do Cypress
cypress/videos/
cypress/screenshots/

test-output/

# Ignorar arquivos de configuração de ambiente (se você tiver)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar arquivos específicos do editor (VS Code, Sublime Text, etc.)
.vscode/
.sublime-workspace
.idea/

# Ignorar arquivos de bundle ou de build (se aplicável, embora menos comum em projetos de teste puro)
/dist
/build

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db